In [4]:
import pandas as pd

In [2]:
# Load CSV files
capitals_df = pd.read_csv("capital_cities.csv")
emissions_df = pd.read_csv('greenhouse_emission.csv')
surface_temps_df = pd.read_csv('annual_surface_temps.csv')
global_data_df = pd.read_csv('global_data.csv')

In [3]:
# Table 1: Merge Capitals and Emissions (no dropping yet)
table1 = pd.merge(capitals_df, emissions_df, on='country', how='inner')

In [6]:
# Table 2: Merge Surface Temps and Global Data (no dropping yet)
table2 = pd.merge(surface_temps_df, global_data_df, on='Country', how='inner')

In [7]:
# Display the tables before dropping missing values
print("Table 1 (Capitals and Emissions) before dropping missing values:")
print(table1)  # or display the full table with print(table1)

Table 1 (Capitals and Emissions) before dropping missing values:
    continent        country capital_city  capital_population   total_co2  \
0      Europe        Albania       Tirana              418495    4.83 m t
1      Europe        Austria       Vienna             1911191   64.77 m t
2      Europe        Belgium     Brussels             1175173   93.01 m t
3      Europe       Bulgaria        Sofia             1241675   39.14 m t
4      Europe        Croatia       Zagreb              792875   16.52 m t
..        ...            ...          ...                 ...         ...
95     Africa          Sudan     Khartoum              639598   20.62 m t
96     Africa       Zimbabwe       Harare             3120917   11.76 m t
97  Australia      Australia     Canberra              411667  386.53 m t
98  Australia    New Zealand   Wellington              209000   34.01 m t
99    Oceania  New Caledonia       Noum√©a              100237    5.33 m t

   co2_per_capita total_methane methane_per_capita
0          1.72 t      2.85 m t             1.01 t
1          7.23 t      6.92 m t             0.77 t
2          8.03 t      8.08 m t             0.70 t
3          5.67 t      6.84 m t             0.99 t
4          4.24 t      3.68 m t             0.94 t
..            ...           ...                ...
95         0.46 t     55.38 m t             1.23 t
96         0.78 t     12.55 m t             0.83 t
97        15.02 t    126.07 m t             4.90 t
98         6.64 t     32.52 m t             6.35 t
99        19.54 t  214,726.32 t             0.79 t

[100 rows x 8 columns]

In [8]:
print("\nTable 2 (Surface Temps and Global Data) before dropping missing values:")
print(table2)  # or display the full table with print(table2)

Table 2 (Surface Temps and Global Data) before dropping missing values:
       Country ISO2  F1961  F1962  F1963  F1964  F1965  F1966  F1967  F1968  \
0      Albania   AL  0.627  0.326  0.075 -0.166 -0.388  0.559 -0.074  0.081
1      Albania   AL  0.627  0.326  0.075 -0.166 -0.388  0.559 -0.074  0.081
2      Albania   AL  0.627  0.326  0.075 -0.166 -0.388  0.559 -0.074  0.081
3      Albania   AL  0.627  0.326  0.075 -0.166 -0.388  0.559 -0.074  0.081
4      Albania   AL  0.627  0.326  0.075 -0.166 -0.388  0.559 -0.074  0.081
...        ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
2431  Zimbabwe   ZW  0.267  0.237 -0.458 -0.097 -0.480  0.215 -0.043  0.093
2432  Zimbabwe   ZW  0.267  0.237 -0.458 -0.097 -0.480  0.215 -0.043  0.093
2433  Zimbabwe   ZW  0.267  0.237 -0.458 -0.097 -0.480  0.215 -0.043  0.093
2434  Zimbabwe   ZW  0.267  0.237 -0.458 -0.097 -0.480  0.215 -0.043  0.093
2435  Zimbabwe   ZW  0.267  0.237 -0.458 -0.097 -0.480  0.215 -0.043  0.093

      ...  Primary energy consumption per capita (kWh/person)  \
0     ...                                          9029.4375
1     ...                                          8635.5320
2     ...                                          9443.5550
3     ...                                         10756.6120
4     ...                                         11586.9510
...   ...                                                ...
2431  ...                                          3227.6802
2432  ...                                          3068.0115
2433  ...                                          3441.9858
2434  ...                                          3003.6553
2435  ...                                          2680.1318

      Energy intensity level of primary energy (MJ/$2017 PPP GDP)  \
0                                                  4.13
1                                                  3.89
2                                                  4.10
3                                                  3.80
4                                                  3.96
...                                                 ...
2431                                              10.00
2432                                               9.51
2433                                               9.83
2434                                              10.47
2435                                              10.00

      Value_co2_emissions_kt_by_country  \
0                           3170.000000
1                           3230.000000
2                           3759.999990
3                           4070.000172
4                           4250.000000
...                                 ...
2431                       11020.000460
2432                       10340.000150
2433                       12380.000110
2434                       11760.000230
2435                                NaN

      Renewables (% equivalent primary energy)  gdp_growth  gdp_per_capita  \
0                                          NaN    6.946217     1126.683340
1                                          NaN    8.293313     1281.659826
2                                          NaN    4.536524     1425.124219
3                                          NaN    5.528637     1846.120121
4                                          NaN    5.514668     2373.581292
...                                        ...         ...             ...
2431                                       NaN    0.755869     1464.588957
2432                                       NaN    4.709492     1235.189032
2433                                       NaN    4.824211     1254.642265
2434                                       NaN   -6.144236     1316.740657
2435                                       NaN   -6.248748     1214.509820

      Density\n(P/Km2)  Land Area(Km2)   Latitude  Longitude
0                  105         28748.0  41.153332  20.168331
1                  105         28748.0  41.153332  20.168331
2                  105         28748.0  41.153332  20.168331
3                  105         28748.0  41.153332  20.168331
4                  105         28748.0  41.153332  20.168331
...                ...             ...        ...        ...
2431                38        390757.0 -19.015438  29.154857
2432                38        390757.0 -19.015438  29.154857
2433                38        390757.0 -19.015438  29.154857
2434                38        390757.0 -19.015438  29.154857
2435                38        390757.0 -19.015438  29.154857

[2436 rows x 84 columns]