In [1]:
import pandas as pd

In [2]:
# Load CSV files
surface_temps_df = pd.read_csv('annual_surface_temps.csv')
global_data_df = pd.read_csv('global_data.csv')

In [3]:
# Table 2: Merge Surface Temps and Global Data (no dropping yet)
table2 = pd.merge(surface_temps_df, global_data_df, on='Country', how='inner')

In [4]:
print("\nTable 2 (Surface Temps and Global Data) before dropping missing values:")
print(table2)  # or display the full table with print(table2)

Table 2 (Surface Temps and Global Data) before dropping missing values:
       Country ISO2  F1961  F1962  F1963  F1964  F1965  F1966  F1967  F1968  \
0      Albania   AL  0.627  0.326  0.075 -0.166 -0.388  0.559 -0.074  0.081
1      Albania   AL  0.627  0.326  0.075 -0.166 -0.388  0.559 -0.074  0.081
2      Albania   AL  0.627  0.326  0.075 -0.166 -0.388  0.559 -0.074  0.081
3      Albania   AL  0.627  0.326  0.075 -0.166 -0.388  0.559 -0.074  0.081
4      Albania   AL  0.627  0.326  0.075 -0.166 -0.388  0.559 -0.074  0.081
...        ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
2431  Zimbabwe   ZW  0.267  0.237 -0.458 -0.097 -0.480  0.215 -0.043  0.093
2432  Zimbabwe   ZW  0.267  0.237 -0.458 -0.097 -0.480  0.215 -0.043  0.093
2433  Zimbabwe   ZW  0.267  0.237 -0.458 -0.097 -0.480  0.215 -0.043  0.093
2434  Zimbabwe   ZW  0.267  0.237 -0.458 -0.097 -0.480  0.215 -0.043  0.093
2435  Zimbabwe   ZW  0.267  0.237 -0.458 -0.097 -0.480  0.215 -0.043  0.093

      ...  Primary energy consumption per capita (kWh/person)  \
0     ...                                          9029.4375
1     ...                                          8635.5320
2     ...                                          9443.5550
3     ...                                         10756.6120
4     ...                                         11586.9510
...   ...                                                ...
2431  ...                                          3227.6802
2432  ...                                          3068.0115
2433  ...                                          3441.9858
2434  ...                                          3003.6553
2435  ...                                          2680.1318

      Energy intensity level of primary energy (MJ/$2017 PPP GDP)  \
0                                                  4.13
1                                                  3.89
2                                                  4.10
3                                                  3.80
4                                                  3.96
...                                                 ...
2431                                              10.00
2432                                               9.51
2433                                               9.83
2434                                              10.47
2435                                              10.00

      Value_co2_emissions_kt_by_country  \
0                           3170.000000
1                           3230.000000
2                           3759.999990
3                           4070.000172
4                           4250.000000
...                                 ...
2431                       11020.000460
2432                       10340.000150
2433                       12380.000110
2434                       11760.000230
2435                                NaN

      Renewables (% equivalent primary energy)  gdp_growth  gdp_per_capita  \
0                                          NaN    6.946217     1126.683340
1                                          NaN    8.293313     1281.659826
2                                          NaN    4.536524     1425.124219
3                                          NaN    5.528637     1846.120121
4                                          NaN    5.514668     2373.581292
...                                        ...         ...             ...
2431                                       NaN    0.755869     1464.588957
2432                                       NaN    4.709492     1235.189032
2433                                       NaN    4.824211     1254.642265
2434                                       NaN   -6.144236     1316.740657
2435                                       NaN   -6.248748     1214.509820

      Density\n(P/Km2)  Land Area(Km2)   Latitude  Longitude
0                  105         28748.0  41.153332  20.168331
1                  105         28748.0  41.153332  20.168331
2                  105         28748.0  41.153332  20.168331
3                  105         28748.0  41.153332  20.168331
4                  105         28748.0  41.153332  20.168331
...                ...             ...        ...        ...
2431                38        390757.0 -19.015438  29.154857
2432                38        390757.0 -19.015438  29.154857
2433                38        390757.0 -19.015438  29.154857
2434                38        390757.0 -19.015438  29.154857
2435                38        390757.0 -19.015438  29.154857

[2436 rows x 84 columns]

In [5]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

In [6]:
# See the columns in table 1 and table 2
print(table2.columns)

Index(['Country', 'ISO2', 'F1961', 'F1962', 'F1963', 'F1964', 'F1965', 'F1966',
       'F1967', 'F1968', 'F1969', 'F1970', 'F1971', 'F1972', 'F1973', 'F1974',
       'F1975', 'F1976', 'F1977', 'F1978', 'F1979', 'F1980', 'F1981', 'F1982',
       'F1983', 'F1984', 'F1985', 'F1986', 'F1987', 'F1988', 'F1989', 'F1990',
       'F1991', 'F1992', 'F1993', 'F1994', 'F1995', 'F1996', 'F1997', 'F1998',
       'F1999', 'F2000', 'F2001', 'F2002', 'F2003', 'F2004', 'F2005', 'F2006',
       'F2007', 'F2008', 'F2009', 'F2010', 'F2011', 'F2012', 'F2013', 'F2014',
       'F2015', 'F2016', 'F2017', 'F2018', 'F2019', 'F2020', 'F2021', 'F2022',
       'Year', 'Access to electricity (% of population)',
       'Access to clean fuels for cooking',
       'Renewable-electricity-generating-capacity-per-capita',
       'Financial flows to developing countries (US $)',
       'Renewable energy share in the total final energy consumption (%)',
       'Electricity from fossil fuels (TWh)', 'Electricity from nuclear (TWh)',
       'Electricity from renewables (TWh)',
       'Low-carbon electricity (% electricity)',
       'Primary energy consumption per capita (kWh/person)',
       'Energy intensity level of primary energy (MJ/$2017 PPP GDP)',
       'Value_co2_emissions_kt_by_country',
       'Renewables (% equivalent primary energy)', 'gdp_growth',
       'gdp_per_capita', 'Density\n(P/Km2)', 'Land Area(Km2)', 'Latitude',
       'Longitude'],
      dtype='object')

In [7]:
table2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2436 entries, 0 to 2435
Data columns (total 84 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Country                                                           2436 non-null   object
 1   ISO2                                                              2436 non-null   object
 2   F1961                                                             2436 non-null   float64
 3   F1962                                                             2436 non-null   float64
 4   F1963                                                             2436 non-null   float64
 5   F1964                                                             2436 non-null   float64
 6   F1965                                                             2436 non-null   float64
 7   F1966                                                             2436 non-null   float64
 8   F1967                                                             2436 non-null   float64
 9   F1968                                                             2436 non-null   float64
 10  F1969                                                             2436 non-null   float64
 11  F1970                                                             2436 non-null   float64
 12  F1971                                                             2436 non-null   float64
 13  F1972                                                             2436 non-null   float64
 14  F1973                                                             2436 non-null   float64
 15  F1974                                                             2436 non-null   float64
 16  F1975                                                             2436 non-null   float64
 17  F1976                                                             2436 non-null   float64
 18  F1977                                                             2436 non-null   float64
 19  F1978                                                             2436 non-null   float64
 20  F1979                                                             2436 non-null   float64
 21  F1980                                                             2436 non-null   float64
 22  F1981                                                             2436 non-null   float64
 23  F1982                                                             2436 non-null   float64
 24  F1983                                                             2436 non-null   float64
 25  F1984                                                             2436 non-null   float64
 26  F1985                                                             2436 non-null   float64
 27  F1986                                                             2436 non-null   float64
 28  F1987                                                             2436 non-null   float64
 29  F1988                                                             2436 non-null   float64
 30  F1989                                                             2436 non-null   float64
 31  F1990                                                             2436 non-null   float64
 32  F1991                                                             2436 non-null   float64
 33  F1992                                                             2436 non-null   float64
 34  F1993                                                             2436 non-null   float64
 35  F1994                                                             2436 non-null   float64
 36  F1995                                                             2436 non-null   float64
 37  F1996                                                             2436 non-null   float64
 38  F1997                                                             2436 non-null   float64
 39  F1998                                                             2436 non-null   float64
 40  F1999                                                             2436 non-null   float64
 41  F2000                                                             2436 non-null   float64
 42  F2001                                                             2436 non-null   float64
 43  F2002                                                             2436 non-null   float64
 44  F2003                                                             2436 non-null   float64
 45  F2004                                                             2436 non-null   float64
 46  F2005                                                             2436 non-null   float64
 47  F2006                                                             2436 non-null   float64
 48  F2007                                                             2436 non-null   float64
 49  F2008                                                             2436 non-null   float64
 50  F2009                                                             2436 non-null   float64
 51  F2010                                                             2436 non-null   float64
 52  F2011                                                             2436 non-null   float64
 53  F2012                                                             2436 non-null   float64
 54  F2013                                                             2436 non-null   float64
 55  F2014                                                             2436 non-null   float64
 56  F2015                                                             2436 non-null   float64
 57  F2016                                                             2436 non-null   float64
 58  F2017                                                             2436 non-null   float64
 59  F2018                                                             2436 non-null   float64
 60  F2019                                                             2436 non-null   float64
 61  F2020                                                             2436 non-null   float64
 62  F2021                                                             2436 non-null   float64
 63  F2022                                                             2436 non-null   float64
 64  Year                                                              2436 non-null   int64
 65  Access to electricity (% of population)                           2427 non-null   float64
 66  Access to clean fuels for cooking                                 2310 non-null   float64
 67  Renewable-electricity-generating-capacity-per-capita              1869 non-null   float64
 68  Financial flows to developing countries (US $)                    1113 non-null   float64
 69  Renewable energy share in the total final energy consumption (%)  2301 non-null   float64
 70  Electricity from fossil fuels (TWh)                               2415 non-null   float64
 71  Electricity from nuclear (TWh)                                    2331 non-null   float64
 72  Electricity from renewables (TWh)                                 2415 non-null   float64
 73  Low-carbon electricity (% electricity)                            2415 non-null   float64
 74  Primary energy consumption per capita (kWh/person)                2436 non-null   float64
 75  Energy intensity level of primary energy (MJ/$2017 PPP GDP)       2301 non-null   float64
 76  Value_co2_emissions_kt_by_country                                 2294 non-null   float64
 77  Renewables (% equivalent primary energy)                          1050 non-null   float64
 78  gdp_growth                                                        2379 non-null   float64
 79  gdp_per_capita                                                    2416 non-null   float64
 80  Density\n(P/Km2)                                                  2436 non-null   object
 81  Land Area(Km2)                                                    2436 non-null   float64
 82  Latitude                                                          2436 non-null   float64
 83  Longitude                                                         2436 non-null   float64
dtypes: float64(80), int64(1), object(3)
memory usage: 1.6+ MB

In [8]:
# Drop columns from table 2
filtered_table_2 = table2.drop(
    ['Access to clean fuels for cooking','Financial flows to developing countries (US $)', 'F1961', 'F1962', 'F1963', 'F1964', 'F1965', 'F1966','F1967', 'F1968', 'F1969', 'F1970', 'F1971', 'F1972', 'F1973', 'F1974','F1975', 'F1976', 'F1977', 'F1978', 'F1979', 'F1980', 'F1981', 'F1982','F1983', 'F1984', 'F1985', 'F1986', 'F1987', 'F1988', 'F1989', 'F1990','F1991', 'F1992', 'F1993', 'F1994','Financial flows to developing countries (US $)',
'Land Area(Km2)','gdp_growth','gdp_per_capita','Energy intensity level of primary energy (MJ/$2017 PPP GDP)','ISO2'],
    axis=1)
filtered_table_2

,Country,F1995,F1996,F1997,F1998,F1999,F2000,F2001,F2002,F2003,...,Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),Low-carbon electricity (% electricity),Primary energy consumption per capita (kWh/person),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),Density\n(P/Km2),Latitude,Longitude
0,Albania,-0.172,-0.038,0.075,0.795,0.67,1.065,1.532,0.492,0.970,...,0.14,0.0,4.55,97.014930,9029.4375,3170.000000,NaN,105,41.153332,20.168331
1,Albania,-0.172,-0.038,0.075,0.795,0.67,1.065,1.532,0.492,0.970,...,0.13,0.0,3.52,96.438354,8635.5320,3230.000000,NaN,105,41.153332,20.168331
2,Albania,-0.172,-0.038,0.075,0.795,0.67,1.065,1.532,0.492,0.970,...,0.16,0.0,3.48,95.604390,9443.5550,3759.999990,NaN,105,41.153332,20.168331
3,Albania,-0.172,-0.038,0.075,0.795,0.67,1.065,1.532,0.492,0.970,...,0.10,0.0,5.12,98.084300,10756.6120,4070.000172,NaN,105,41.153332,20.168331
4,Albania,-0.172,-0.038,0.075,0.795,0.67,1.065,1.532,0.492,0.970,...,0.13,0.0,5.41,97.653430,11586.9510,4250.000000,NaN,105,41.153332,20.168331
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2431,Zimbabwe,0.685,-0.247,-0.025,0.801,0.03,-0.417,0.004,0.487,0.355,...,3.50,0.0,3.32,48.680350,3227.6802,11020.000460,NaN,38,-19.015438,29.154857
2432,Zimbabwe,0.685,-0.247,-0.025,0.801,0.03,-0.417,0.004,0.487,0.355,...,3.05,0.0,4.30,58.503407,3068.0115,10340.000150,NaN,38,-19.015438,29.154857
2433,Zimbabwe,0.685,-0.247,-0.025,0.801,0.03,-0.417,0.004,0.487,0.355,...,3.73,0.0,5.46,59.412407,3441.9858,12380.000110,NaN,38,-19.015438,29.154857
2434,Zimbabwe,0.685,-0.247,-0.025,0.801,0.03,-0.417,0.004,0.487,0.355,...,3.66,0.0,4.58,55.582527,3003.6553,11760.000230,NaN,38,-19.015438,29.154857
2435,Zimbabwe,0.685,-0.247,-0.025,0.801,0.03,-0.417,0.004,0.487,0.355,...,3.40,0.0,4.19,55.204216,2680.1318,NaN,NaN,38,-19.015438,29.154857

In [9]:
filtered_table_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2436 entries, 0 to 2435
Data columns (total 43 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Country                                                           2436 non-null   object
 1   F1995                                                             2436 non-null   float64
 2   F1996                                                             2436 non-null   float64
 3   F1997                                                             2436 non-null   float64
 4   F1998                                                             2436 non-null   float64
 5   F1999                                                             2436 non-null   float64
 6   F2000                                                             2436 non-null   float64
 7   F2001                                                             2436 non-null   float64
 8   F2002                                                             2436 non-null   float64
 9   F2003                                                             2436 non-null   float64
 10  F2004                                                             2436 non-null   float64
 11  F2005                                                             2436 non-null   float64
 12  F2006                                                             2436 non-null   float64
 13  F2007                                                             2436 non-null   float64
 14  F2008                                                             2436 non-null   float64
 15  F2009                                                             2436 non-null   float64
 16  F2010                                                             2436 non-null   float64
 17  F2011                                                             2436 non-null   float64
 18  F2012                                                             2436 non-null   float64
 19  F2013                                                             2436 non-null   float64
 20  F2014                                                             2436 non-null   float64
 21  F2015                                                             2436 non-null   float64
 22  F2016                                                             2436 non-null   float64
 23  F2017                                                             2436 non-null   float64
 24  F2018                                                             2436 non-null   float64
 25  F2019                                                             2436 non-null   float64
 26  F2020                                                             2436 non-null   float64
 27  F2021                                                             2436 non-null   float64
 28  F2022                                                             2436 non-null   float64
 29  Year                                                              2436 non-null   int64
 30  Access to electricity (% of population)                           2427 non-null   float64
 31  Renewable-electricity-generating-capacity-per-capita              1869 non-null   float64
 32  Renewable energy share in the total final energy consumption (%)  2301 non-null   float64
 33  Electricity from fossil fuels (TWh)                               2415 non-null   float64
 34  Electricity from nuclear (TWh)                                    2331 non-null   float64
 35  Electricity from renewables (TWh)                                 2415 non-null   float64
 36  Low-carbon electricity (% electricity)                            2415 non-null   float64
 37  Primary energy consumption per capita (kWh/person)                2436 non-null   float64
 38  Value_co2_emissions_kt_by_country                                 2294 non-null   float64
 39  Renewables (% equivalent primary energy)                          1050 non-null   float64
 40  Density\n(P/Km2)                                                  2436 non-null   object
 41  Latitude                                                          2436 non-null   float64
 42  Longitude                                                         2436 non-null   float64
dtypes: float64(40), int64(1), object(2)
memory usage: 818.5+ KB

In [10]:
# Fill null values with zeros
filtered_table_2['Renewables (% equivalent primary energy)'] = filtered_table_2['Renewables (% equivalent primary energy)'].fillna(0)

filtered_table_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2436 entries, 0 to 2435
Data columns (total 43 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Country                                                           2436 non-null   object
 1   F1995                                                             2436 non-null   float64
 2   F1996                                                             2436 non-null   float64
 3   F1997                                                             2436 non-null   float64
 4   F1998                                                             2436 non-null   float64
 5   F1999                                                             2436 non-null   float64
 6   F2000                                                             2436 non-null   float64
 7   F2001                                                             2436 non-null   float64
 8   F2002                                                             2436 non-null   float64
 9   F2003                                                             2436 non-null   float64
 10  F2004                                                             2436 non-null   float64
 11  F2005                                                             2436 non-null   float64
 12  F2006                                                             2436 non-null   float64
 13  F2007                                                             2436 non-null   float64
 14  F2008                                                             2436 non-null   float64
 15  F2009                                                             2436 non-null   float64
 16  F2010                                                             2436 non-null   float64
 17  F2011                                                             2436 non-null   float64
 18  F2012                                                             2436 non-null   float64
 19  F2013                                                             2436 non-null   float64
 20  F2014                                                             2436 non-null   float64
 21  F2015                                                             2436 non-null   float64
 22  F2016                                                             2436 non-null   float64
 23  F2017                                                             2436 non-null   float64
 24  F2018                                                             2436 non-null   float64
 25  F2019                                                             2436 non-null   float64
 26  F2020                                                             2436 non-null   float64
 27  F2021                                                             2436 non-null   float64
 28  F2022                                                             2436 non-null   float64
 29  Year                                                              2436 non-null   int64
 30  Access to electricity (% of population)                           2427 non-null   float64
 31  Renewable-electricity-generating-capacity-per-capita              1869 non-null   float64
 32  Renewable energy share in the total final energy consumption (%)  2301 non-null   float64
 33  Electricity from fossil fuels (TWh)                               2415 non-null   float64
 34  Electricity from nuclear (TWh)                                    2331 non-null   float64
 35  Electricity from renewables (TWh)                                 2415 non-null   float64
 36  Low-carbon electricity (% electricity)                            2415 non-null   float64
 37  Primary energy consumption per capita (kWh/person)                2436 non-null   float64
 38  Value_co2_emissions_kt_by_country                                 2294 non-null   float64
 39  Renewables (% equivalent primary energy)                          2436 non-null   float64
 40  Density\n(P/Km2)                                                  2436 non-null   object
 41  Latitude                                                          2436 non-null   float64
 42  Longitude                                                         2436 non-null   float64
dtypes: float64(40), int64(1), object(2)
memory usage: 818.5+ KB

In [11]:
# Fill null values with zeros
filtered_table_2['Renewable-electricity-generating-capacity-per-capita'] = filtered_table_2['Renewable-electricity-generating-capacity-per-capita'].fillna(0)

filtered_table_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2436 entries, 0 to 2435
Data columns (total 43 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Country                                                           2436 non-null   object
 1   F1995                                                             2436 non-null   float64
 2   F1996                                                             2436 non-null   float64
 3   F1997                                                             2436 non-null   float64
 4   F1998                                                             2436 non-null   float64
 5   F1999                                                             2436 non-null   float64
 6   F2000                                                             2436 non-null   float64
 7   F2001                                                             2436 non-null   float64
 8   F2002                                                             2436 non-null   float64
 9   F2003                                                             2436 non-null   float64
 10  F2004                                                             2436 non-null   float64
 11  F2005                                                             2436 non-null   float64
 12  F2006                                                             2436 non-null   float64
 13  F2007                                                             2436 non-null   float64
 14  F2008                                                             2436 non-null   float64
 15  F2009                                                             2436 non-null   float64
 16  F2010                                                             2436 non-null   float64
 17  F2011                                                             2436 non-null   float64
 18  F2012                                                             2436 non-null   float64
 19  F2013                                                             2436 non-null   float64
 20  F2014                                                             2436 non-null   float64
 21  F2015                                                             2436 non-null   float64
 22  F2016                                                             2436 non-null   float64
 23  F2017                                                             2436 non-null   float64
 24  F2018                                                             2436 non-null   float64
 25  F2019                                                             2436 non-null   float64
 26  F2020                                                             2436 non-null   float64
 27  F2021                                                             2436 non-null   float64
 28  F2022                                                             2436 non-null   float64
 29  Year                                                              2436 non-null   int64
 30  Access to electricity (% of population)                           2427 non-null   float64
 31  Renewable-electricity-generating-capacity-per-capita              2436 non-null   float64
 32  Renewable energy share in the total final energy consumption (%)  2301 non-null   float64
 33  Electricity from fossil fuels (TWh)                               2415 non-null   float64
 34  Electricity from nuclear (TWh)                                    2331 non-null   float64
 35  Electricity from renewables (TWh)                                 2415 non-null   float64
 36  Low-carbon electricity (% electricity)                            2415 non-null   float64
 37  Primary energy consumption per capita (kWh/person)                2436 non-null   float64
 38  Value_co2_emissions_kt_by_country                                 2294 non-null   float64
 39  Renewables (% equivalent primary energy)                          2436 non-null   float64
 40  Density\n(P/Km2)                                                  2436 non-null   object
 41  Latitude                                                          2436 non-null   float64
 42  Longitude                                                         2436 non-null   float64
dtypes: float64(40), int64(1), object(2)
memory usage: 818.5+ KB